
$background-color: lighten(#B4C8C8, 13%) // #F2F8F9

$text-color: darken(#FFFFFF, 70%)

$link-color: darken(#3333AA, 6%) // lighten(#333399, 17%)
$link-color-hover: darken($link-color, 10%)

$topbar-bg-color: darken(#3579E0, 7%) // #35D387

$menu-item-color: darken(#FFFFFF, 2%)
$menu-item-color-hover: darken(#FFFFFF, 2%)
$menu-item-bg-color-hover: lighten(#000033, 5%) // lighten(#2AB773, 5%)

$tag-color: $menu-item-color
$tag-bg-color: $topbar-bg-color
$tag-bg-color-hover: lighten(#000033, 5%)

$footer-bg-color: darken($background-color, 11%)

// $post-bg-color: $footer-bg-color

$button-color: $menu-item-color
$button-color-hover: $menu-item-color-hover
$button-bg-color: $topbar-bg-color
$button-bg-color-hover: $menu-item-bg-color-hover
